body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    
  }
  a{
    text-decoration: none;
  }

  ul{
    list-style: none;
  }
  .fv-section{
    background-image: url('./background.svg');

  }
  .pj-section{
    background-image: url('./pj-background.svg');


  }
  .pj-contact{
    background-image: url('./background.svg');

  }
  .about{
    background-image: url('./pj-background.svg');
  }